body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 20px;
    font-size: 120%;
    text-align: left;
}

main#content {
    padding: 45px;
    margin: auto;
    color: black;
    background-color: #fbf4ee;
    font-variant: small-caps;
    letter-spacing: 5px;
}


h1, h2, h3 {
    font-family: 'Halant', serif;
    line-height: 55px;
    color: rgb(60,60,60);
    font-size: 50px;
    font-weight: bolder;
    font-variant: normal;
}


a {
    color: darkgrey;
    font-family: 'helvetica';
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
}
a:hover {
    text-decoration: underline;
    color: pink;
}
